{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BeFit | Cart</title>
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main-content-wrapper d-flex clearfix">
        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cart-title mt-50">
                            <h2>Your Cart</h2>
                        </div>
                        <div class="cart-table clearfix">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Item Title</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total Item Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <!-- product start -->
                               {% for order_item in object.items.all %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>{{ order_item.item.title }}</td>
                                    <td>{{ order_item.item.price }}</td>
                                    <td>
                                        <a href="{% url 'befit:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                                        {{ order_item.quantity }}
                                        <a href="{% url 'befit:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
                                    </td>
                                    <td>
                                        Rs.{{ order_item.get_total_item_price }}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan='5'>Your cart is empty</td>
                                </tr>
                                {% endfor %}
                                {% if object.get_total %}
                                <tr>
                                    <td colspan="5"><b>Order Total</b></td>
                                    <td><b>Rs.{{ object.get_total }}</b></td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-btn mt-100">
                            <a href="checkout" class="btn amado-btn w-100">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

   <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>
</body>
</html>